<!DOCTYPE html>
<html lang="en" data-theme="light"> 
    <head>
        <style>
        html {{{{ background-color: #FAF9F6; }}}}
        body {{{{ font-family: "DejaVu Sans Mono", monospace; }}}}
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light" />
        <script defer data-domain="muki.gg" src="https://analytics.kiboigo.com/js/script.js"></script>
        <!-- Omit Favicon -->
        <link rel="icon" href="data:,">
        <link rel="stylesheet" href="/embed/basscss.min.css"/>
        <title>{[title]s}</title>
        {[head]s}
    </head>
    <body class="flex flex-column">
        <script>0</script>
        <div id="content" class="flex-auto">
            {[body]s}
        </div>
    </body>
</html>
