{[header]s}

<main class="flex flex-column items-center">
    <div class="mx-auto max-width-3 px2">
        <section id="about">
            <p>hello! i'm <a href="https://github.com/mookums">muki</a>. i'm from seattle and a computer engineer. this website runs on <a href="https://github.com/mookums/zzz">zzz</a>, my micro framework for networked services.
            </p>
        </section>
        <section id="posts">
            <h2>posts</h2>
                <ul>
                    {[posts]s}
                <ul>
        </section>
    </div>
</main>
