---
layout: post.njk
tags: post
date: 2025-12-22
title: Where are the old posts?
---

<div class="flex flex-col gap-y-2">
  <span>These old posts were too much of a pain to port over to the new blogging infrastructure.</span>
  <span>I also don't think they are necessarily representative of the things I want to talk about and the depth I want to go into.</span>
  <span>This blog now has a dedicated RSS feed available <a class="hyper-blue" href="/feed.xml">here</a>.</span>
  <span class="flex w-full justify-end">Muki</span>
</div>
