<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="/assets/css/prism-one-light.css"/>
  </head>
  <body>
      <script type="module" src="/assets/js/main.js"></script>
      {% include "header.njk" %}
      {{ content | safe }}
  </body>
</html>
