@import 'tailwindcss';
@import '@fontsource/open-sans';
@import '@fontsource/jetbrains-mono';

@theme {
    --font-opensans: "Open Sans", "sans-serif";
    --font-jetbrains-mono: "JetBrains Mono", "sans-serif";
}

@layer base {
  html {
    font-family: var(--font-opensans);
  }
}

.hyper-blue {
  @apply hover:underline text-blue-700 hover:text-blue-800
}

