<header>
    <div class="flex flex-column items-center justify-center center nowrap">
        <div> 
            <h1>
                <a href="/" style="color: inherit; text-decoration: inherit;">muki.gg</a>
            </h1>
        </div>
        <div class="flex items-center justify-center center">
            <p class="mt0 px1">
                <strong>
                    <a href="/about" style="color: inherit; text-decoration: inherit;">about</a>
                </strong>
            </p>
            <p class="mt0 px1">
                <strong>
                    <a href="/resume" style="color: inherit; text-decoration: inherit;">resume</a>
                </strong>
            </p>
            <p class="mt0 px1">
                <strong>
                    <a href="/links" style="color: inherit; text-decoration: inherit;">links</a>
                </strong>
            </p>
        </div>
    </div>
</header>
