<header class="my-3 font-jetbrains-mono">
    <div class="flex flex-col justify-center items-center">
        <div class="flex mb-1"> 
            <h1 class="text-3xl font-bold">
                <a href="/">muki.gg</a>
            </h1>
        </div>
        <div class="flex">
            <p class="mx-2 font-bold">
                <a href="/about">about</a>
            </p>
            <p class="mx-2 font-bold">
                <a href="https://github.com/mookums">github</a>
            </p>
            <p class="mx-2 font-bold">
                <a href="/muki.asc">gpg</a>
            </p>
            <p class="mx-2 font-bold">
                <a href="/rss.xml">rss</a>
            </p>
        </div>
    </div>
</header>
